.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-x: hidden;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section_container {
  display: flex;
  justify-content: center;
}

.landing {
  position: relative;
  margin-top: 200px;
  margin-bottom: 200px;
}

.landing img {
  width: 1200px;
}

.landing img {
  filter: drop-shadow(0px 5px 4px #361a0c);
  animation: woosh 3s ease-in-out infinite alternate;
}

.landing .prompt {
  position: absolute;
  top: 55%;
  left: 63%;
  text-align: center;
  color: #ffffff;
}

.landing .prompt p {
  font-size: min(6vw, 80px);
  max-width: 678px;
  -webkit-text-stroke-width: min(1vw, 8px);
  -webkit-text-stroke-color: #000000;
  paint-order: stroke fill;
  filter: drop-shadow(0px 1px 2px rgba(54, 26, 12, 0.68));
  animation: woosh 3s ease-in-out infinite alternate;
}

@keyframes woosh {
  0% { transform: translateY(3px) rotateX(3deg) scaleX(98%); }
  100% { transform: translateY(-3px) rotateX(0deg); }
}

.bg {
  z-index: -100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.infos {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin-bottom: 50px;
  padding: 15px 10px;
  width: 70%;
  color: #361a0c;
}

.infos h1 {
  margin-bottom: 40px;
  font-size: 3rem;
}

.infos p {
  font-size: 30px;
  max-width: 678px;
}

.infos .ca {
  overflow-wrap: break-word;
}

.infos_shape {
  position: relative;
  margin-bottom: 200px;
  z-index: -10;
}

.infos_shape .svg {
  position: absolute;
  width: 900px;
  height: 900px;
  top: -660px;
  left: -468px;
}

.pill_container {
  display: flex;
  align-items: center;
  color: #361a0c;
  margin-bottom: 100px;
}

.pill {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 400px;
  height: 300px;
  background-color: rgba(255, 255, 255, 0.9);
  margin-left: 20px;
  margin-right: 20px;
  filter: drop-shadow(0px 5px 4px #361a0c);

  --angle: 0deg;
  border: 10px solid;
  border-image: conic-gradient(from var(--angle), red, yellow, lime, aqua, blue, magenta, red) 1;
  animation: 10s rotate linear infinite;
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

.pill .header {
  font-size: 20px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.pill .detail {
  font-size: 40px;
}

.button {
  cursor: pointer;
  font-size: 30px;
  padding: 30px 30px;
  border-radius: 4px;
  background-color: #098a74;
  color: white;
  transition: all 0.2s ease-in-out;
}

.button:hover {
  transform: scale(1.1);
}

@media (max-width: 1800px) {
  .pill_container {
    flex-direction: column;
  }

  .pill {
    margin-bottom: 30px;
  }

  .pill:last-child {
    margin-bottom: 0;
  }
}

@media (max-width: 930px) {
  .section_container {
    /*margin: 0 50px;*/
  }

  .infos {
    /*width: 100%;*/
    /*margin-bottom: 40px;*/
  }

  .pill_container {
    flex-direction: column;
  }

  .pill {
    width: 250px;
    height: 150px;
    margin-bottom: 30px;
  }

  .pill:last-child {
    margin-bottom: 0;
  }

  .pill .header {
    font-size: 15px;
    margin-bottom: 20px;
    text-transform: uppercase;
  }

  .pill .detail {
    font-size: 20px;
  }

  .infos h1 {
    font-size: 3em;
  }

  .infos p {
    /*font-size: 18px;*/
  }

  .infos .ca {
    max-width: 240px;
  }
}

@media (max-width: 930px) {
  .infos p {
    font-size: 24px;
  }
}

@media (max-width: 430px) {
  .infos_shape .svg {
    top: -760px;
    left: -468px;
  }
}

@media (max-width: 320px) {
  .infos_shape .svg {
    top: -860px;
    left: -468px;
  }
}